@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lora&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c2135;
}

input:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  font-family: "Lora", serif;
}

.hover-icon {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  color: #ff8700;
  border: 1px solid #ff8700;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 300ms;
}

.hover-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  box-shadow: 0 0 0 3px #ff8700;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 300ms;
}

.hover-icon:hover {
  background-color: #ff8700;
  color: #fff;
}

.hover-icon:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

div.sidebar-about {
  animation: about 0.8s;
}

@keyframes about {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

